[CMC]
adapterClass	= "CeusMedia\\TemplateAbstraction\\Adapter\\CMC"
title			= "Simple logicless template engine included in CeusMedia::Common."

[Smarty]
adapterClass	= "CeusMedia\\TemplateAbstraction\\Adapter\\Smarty"
title			= "Smarty Template Engine."

[phpHaml]
adapterClass	= "CeusMedia\\TemplateAbstraction\\Adapter\\phpHaml"
title			= "phpHaml Template Engine."

[Twig]
adapterClass	= "CeusMedia\\TemplateAbstraction\\Adapter\\Twig"
title			= "Twig Template Engine."

[PHPTAL]
adapterClass	= "CeusMedia\\TemplateAbstraction\\Adapter\\PHPTAL"
title			= "PHPTAL Template Engine."

[Dwoo]
adapterClass	= "CeusMedia\\TemplateAbstraction\\Adapter\\Dwoo"
title			= "Dwoo Template Engine."

[Mustache]
adapterClass	= "CeusMedia\\TemplateAbstraction\\Adapter\\Mustache"
title			= "Mustache Template Engine."

[Latte]
adapterClass	= "CeusMedia\\TemplateAbstraction\\Adapter\\Latte"
title			= "Latte Template Engine."

[H2O]
adapterClass	= "CeusMedia\\TemplateAbstraction\\Adapter\\H2O"
title			= "H2O Template Engine."

;[STE]
;active			= 1
